.labels {
  background-color: rgb(80, 150, 228);
  color: rgba(255, 255, 255, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 1rem;
  user-select: none;
  border-radius: 1rem;

  span:not(:last-child) {
    &:after {
      content: "|";
      color: rgba(255, 255, 255, 1) !important;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
}

.label {
  cursor: pointer;

  color: rgba(255, 255, 255, 0.7);
}

.active {
  color: white;
  text-shadow: 2px 2px 2px black;
  opacity: 1;

  &:after {
    text-shadow: none;
  }
}