.labels {
    background-color: rgb(80, 150, 228);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem;
    user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
  
    border-bottom: 2px solid #e6e6e6;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    
    text-align: center;
  }